body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.intro-container {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

.intro-container h1 {
    font-size: 48px;
}

.intro-container p {
    font-size: 18px;
}

.intro-container button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.intro-container button:hover {
    background-color: #218838;
}

.rotating-planet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw; 
    height: auto;
    animation: rotate 30s linear infinite;
    z-index: -1;
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.text-overlay {
    position: relative;
    z-index: 10;
    background-color: rgba(31, 26, 26, 0.383); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.text-overlay h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-overlay p {
    font-size: 18px;
    margin-bottom: 10px;
}

.text-overlay button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.text-overlay button:hover {
    background-color: #218838;
}